<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<div layout:fragment="content">
	<div id="body_head">
		<h2>상품 목록</h2>
	</div>
	<div id="body_outer">
		<div id="body">
<!-- ================================================================================ -->

<form method="post" th:attr="action=${dto.prodId == 0 ? '/product/register' : '/product/modify'}" enctype="multipart/form-data">
<input th:if="${dto.prodId>0}" type="hidden" name="prodId" th:value="${dto.prodId}" />
<div class="card-body">
 
    <div class="input-group mb-3">
      <span class="input-group-text">상품 명</span>
      <input type="text" name="prodName" class="form-control" th:value="${dto.prodName}">
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text">카테고리</span>
      <input type="text" name="cateCode" class="form-control" th:value="${dto.cateCode}">
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text">상품 가격</span>
      <input type="text" name="prodPrice" class="form-control" th:value="${dto.prodPrice}">
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text">상품 재고</span>
      <input type="text" name="prodStock" class="form-control" th:value="${dto.prodStock}">
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text">상품 설명</span>
      <textarea class="form-control col-sm-5" rows="5" name="prodDesc">[[${dto.prodDesc}]]</textarea>
    </div>


    <div class="my-4">
      <div class="float-end">
      	<a class="btn btn-primary" href="/product/list">목록</a>
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="reset" class="btn btn-secondary">Reset</button>
      </div>
    </div>
  </form>
</div><!--end card body-->

<!-- ================================================================================ -->
		</div>
	</div>
</div>


<script layout:fragment="script" th:inline="javascript">

  const errors = [[${errors}]]
  console.log(errors)

  let errorMsg = ''

  if(errors){
    for (let i = 0; i < errors.length; i++) {
      errorMsg += `${errors[i].field}은(는) ${errors[i].code} \n`
    }
    alert(errorMsg)
  }

</script>