@charset "UTF-8";

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}

div, p, span, h1, h2, h3, h4, h5, a, ol, ul, li, dl, dt, dd {font-family: 'Noto Sans KR', sans-serif;}

a:link {text-decoration: none; color:#1e1e1e;}
a:hover {text-decoration: none; color:#1e1e1e;}
a:active {text-decoration: none; color:#1e1e1e;}
a:visited {text-decoration: none; color:#1e1e1e;}